@{
    ViewBag.Title = "Resgate de Senha Realizado com Sucesso";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Favor, Verifique sua conta de Email para resgate da senha.
    </p>
</div>
	
