@{
    ViewBag.Title = "Home Page";
}

<img style="-webkit-user-select: none; " src="http://www.cgti.org.br/wp-content/uploads/2016/08/n2ok.jpg" width="100%" height="100%">
<h1 style="font-size:50px" align="middle">Centro de Gestão Tecnologia e Inovação</h1>
<h3 class="lead" align="middle">Desde 2003, tornando ideias e projetos realidade.</h3>

<p><a href="http://www.cgti.org.br" class="Botao_CGTI">Site CGTI &raquo;</a></p>

@*<div class="imgENG">
    <div class="wg-grid">
        <h2>
            <span class="font-titolo">Suporte nas áreas:</span>
        </h2>

        <div class="font-subtitulo">
            <p>.Engenharia</p>
            <p>.Esporte</p>
            <p>.Administração</p>
            <p>.Contabilidade</p>
        </div>
    </div>

</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Codigo de Conduta</h2>
        <p>
            O Código de Conduta que ora apresentamos é uma das ferramentas de maior
            relevância para comprovar publicamente o nosso empenho em honrar nossos
            compromissos com os Clientes, Colaboradores, Parceiros, Comunidade e com
            todos os demais públicos de nosso relacionamento.
        </p>
        <p><a class="Botao_CGTI" href="file:///servercgti/Transito/Documentos/CÓDIGO/CODIGO_DE_CONDUTA_CGTI_Rev1.doc">Download Arquivo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Responsabilidade Social</h2>
        <p>Termo de responsabilidade socinal do CGTI.</p>
        <p><a class="Botao_CGTI" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Politica de Segurança da Informação</h2>
        <p>
            Termo de responsabilidade e segurança da informação e utilização dos computadores,
            internet e documentos internos do CGTI..
        </p>
        <p><a class="Botao_CGTI" href="http://go.microsoft.com/fwlink/?LinkId=301867">File Download &raquo;</a></p>
    </div>
</div>






